<template>
  <div>
    <router-link class="button is-warning" to="/start">Play new quiz</router-link>
  </div>
</template>

<script>
export default {
  name: "HomePage",
};
</script>

<style>
</style>