<template>
  <div>
    <h1 v-if="isPlaying">PLAYING GAME</h1>
    <h1 v-if="!isPlaying">SUMMARY OF QUIZ</h1>
    <QuestionComponent
      v-if="isPlaying"
      v-bind:question="currentQuestion"
      v-bind:questionId="currentQuestionId"
      @clicked="onClickQuestion"
    />
    <div v-if="!isPlaying">
      <ResultComponent  v-for="answeredQuestion in answeredQuestions" :key="answeredQuestion.id" 
      :question="answeredQuestion.question"
      :selected="answeredQuestion.selected"
      :correct_answer="answeredQuestion.correct_answer"
      />
    </div>
    <div v-if="!isPlaying">
      <ScoreComponent :answeredQuestions="answeredQuestions"/>
    </div>
    <div v-if="!isPlaying">
      <button @click="onClickRestart" class="button is-success container">Start again</button>
    </div>
  </div>
</template>

<script>
import QuestionComponent from "../components/QuestionComponent";
import ResultComponent from "../components/ResultComponent";
import ScoreComponent from "../components/ScoreComponent";
export default {
  name: "PlayGame",
  components: {
    QuestionComponent,
    ResultComponent,
    ScoreComponent
  },
  data() {
    return {
      questions: [],
      currentQuestion: Object,
      currentQuestionId: Number,
      answeredQuestions: [],
      isPlaying: true,
    };
  },
  created() {
    if (Object.keys(this.$route.params).length == 0) {
      return this.$router.push({
        name: "home",
      });
    }

    this.questions = this.$route.params.questions;
    this.currentQuestion = helper(this.questions[0], 0);
    this.currentQuestionId = 0;
  },
  methods: {
    onClickQuestion(value, answer) {
      if (value == (this.questions.length - 1)) {
        this.answeredQuestions.push(answer);
        this.isPlaying = false;
        console.log("Finished quiz!");
        return;

      }

      this.answeredQuestions.push(answer);
      const index = value + 1;
      this.currentQuestionId = index;
      this.currentQuestion = helper(this.questions[index], index);

    },
    onClickRestart(){
      return this.$router.push({
        name: "home",
      });
    }
  },
};

function helper(currentQuestion, id) {
  let configuredQuestion = {
    id,
    category: atob(currentQuestion.category),
    question: atob(currentQuestion.question),
    correct_answer: atob(currentQuestion.correct_answer),
    options: [],
  };
  let unshuffeledOptions = [];
  currentQuestion.incorrect_answers.map((opt) =>
    unshuffeledOptions.push(atob(opt))
  );
  unshuffeledOptions.push(configuredQuestion.correct_answer);
  configuredQuestion.options = shuffle(unshuffeledOptions);
  return configuredQuestion;
}

function shuffle(options) {
  for (let i = options.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * i);
    const temp = options[i];
    options[i] = options[j];
    options[j] = temp;
  }
  return options;
}
</script>

<style scoped>
  button{
    margin: 10px;
  }
</style>