<template>
  <div>
    <PopupComponent
      v-if="settingsWarning"
      popupHeading="Check yourself before you wreck my app"
      popupBody="You have missing values. You will not be able to play before you fix this..."
    />
    <h3>Select a category</h3>
    <div class="settings-section">
      <div class="select">
        <select name="categories" @change="onChange($event)" v-model="optionSelected">
          <option value selected disabled hidden>Choose Category here</option>
          <option v-for="categori in categories" v-bind:key="categori.id">{{categori.name}}</option>
        </select>
      </div>
      <label>Select the number of questions you want. Maximum 50.</label>
      <input
        class="input input-radius"
        type="number"
        v-model="settingsQuestionAmount"
        placeholder="0"
        min="1"
        max="50"
      />
    </div>
    <div class="bottomn-section">
      <button class="button is-warning" @click="clickEvent">START QUIZ</button>
    </div>
  </div>
</template>

<script>
import PopupComponent from "../components/PopupComponent";
export default {
  name: "StartGame",
  props: {
    msg: String,
  },
  components: {
    PopupComponent,
  },
  data() {
    return {
      categories: [],
      optionSelected: "",
      settingsQuestionAmount: 0,
      settingsWarning: false,
    };
  },
  methods: {
    onChange(event) {
      console.log(event.target.value);
    },
    async clickEvent() {
      let fetchString = "";
      if (
        this.optionSelected == "" ||
        this.settingsQuestionAmount > 50 ||
        this.settingsQuestionAmount < 1
      ) {
        this.settingsWarning = true;
        return;
      } else if (this.optionSelected === 'Any') {
        fetchString = `https://opentdb.com/api.php?amount=${this.settingsQuestionAmount}&encode=base64`;
      } else {
        const categoryId = this.categories.find(
          (cat) => cat.name == this.optionSelected).id;
        fetchString = `https://opentdb.com/api.php?amount=${this.settingsQuestionAmount}&category=${categoryId}&encode=base64`;
      }

      let questions = [];
      await fetch(
        fetchString
      )
        .then((res) => res.json())
        .then((data) => (questions = data.results));

      this.$router.push({
        name: "PlayGame",
        params: {
          questions,
        },
      });
    },
  },
  async created() {
    await fetch("https://opentdb.com/api_category.php")
      .then((res) => res.json())
      .then((data) => (this.categories = data.trivia_categories));
    this.categories.push({ id: -1, name: "Any" });
    this.categories.reverse();
  },
};
</script>

<style scoped>
.button-section .settings-section {
  display: flex;
}
button {
  margin: 10px;
}
label {
  display: block;
  margin: 10px;
}
input {
  width: 60px;
}
</style>
