<template>
  <article class="message is-warning">
    <div class="message-header">
      <p>{{popupHeading}}</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      {{popupBody}}
    </div>
  </article>
</template>

<script>
export default {
  name: "PopupComponent",
  props: {
      popupHeading: {
          type: String,
          required: true
      },
      popupBody: {
          type: String,
          required: true
      }
  }
};
</script>

<style>
</style>