<template>
  <div class="question">
    <PopupComponent
      v-if="checkWarning"
      popupHeading="No option selected"
      popupBody="You have not selected an option. Please do so before clicking next."
    />
    <div class="questions-section container is-fluid">
      <h2 id="question">{{question.question}}</h2>
      <div v-for="option in question.options" :key="option" class="container">
        <label class="radio">
          <input v-on:click="checkWarning=false" class="radio" type="radio" v-model="selected" :value="option" />
          {{option}}
        </label>
      </div>
      <p class="container"> <i>You have selected: {{selected}}</i></p>
      <br />
      <button @click="onClickNext" class="button is-success is-light container">Next</button>
    </div>
  </div>
</template>

<script>
import PopupComponent from './PopupComponent';
export default {
  name: "QuestionComponent",
  props: {
    question: {
      type: Object,
      required: true,
    },
    questionId: {
      type: Number,
      required: true,
    },
  },
  components:{
    PopupComponent
  },
  data() {
    return {
      selected: "",
      checkWarning: false
    };
  },
  methods: {
    onClickNext() {
      if (this.selected == "") {
        this.checkWarning = true;
        return;
      }
      this.$emit("clicked", this.questionId, {question: this.question.question, selected: this.selected, correct_answer: this.question.correct_answer});
      this.selected = "";
    },
  },
};
</script>

<style scoped>
  #question{
    padding: 0px 0px 8px 0px;
    font-size: 20px;
  }
  .container{
    padding: 4px;
  }
  button.container{
    padding: 5px 10px;
  }
/* .container{
  background-color: rgba(0, 0, 0, 0.1);
} */
</style>