<template>
  <div class="container">
      <h3>{{question}}</h3>
      <p>
          Your answer: <i>{{selected}}</i>
      </p>
      <p>
          Correct answer: <strong>{{correct_answer}}</strong>
      </p>
  </div>
</template>

<script>
export default {
    name: 'ResultComponent',
    props: {
        question: {
            type: String,
            required: true
        },
        selected: {
            type: String,
            required: true
        },
        correct_answer: {
            type: String,
            required: true
        }
    }
}
</script>

<style scoped>
 div.container{
     padding: 10px;
 }
</style>