<template>
  <div class="container">
    <p>
      <strong>Your total score: {{this.userSumScore}}/{{this.totalSumScore}}</strong>
    </p>
  </div>
</template>

<script>
export default {
  name: "ScoreComponent",
  props: {
    answeredQuestions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      amountCorrectQuestions: 0,
      scorePerQuestin: 10,
      totalSumScore: 0,
      userSumScore: 0,
    };
  },
  created() {
    this.answeredQuestions.map((aq) => {
      if (aq.selected == aq.correct_answer) this.amountCorrectQuestions++;
    });
    this.totalSumScore = this.answeredQuestions.length * this.scorePerQuestin;
    this.userSumScore = this.amountCorrectQuestions * this.scorePerQuestin;
  },
};
</script>

<style scoped>

</style>