<template>
  <div class="test-comp">
    <ul>
      <li v-for="d in data" v-bind:key="d.id">
        <p>{{d.name}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import DATA from "../mocks/data";
export default {
  name: "TestComp",
  data() {
    return {
      data: [],
    };
  },
  created() {
    this.data = DATA;
  },
};
</script>

<style>
</style>